// colors
//$color1: #ED9435;
$color1: #4394e5;
$black : #1d1d1d;
$white : #ffffff;
$gray1 : #7a7a7a;
$gray2 : #626262;


// fonts
$geo_font : "Montserrat","Glacial Indifference", "Roboto", "Helvetica", sans-serif;
$geo : $geo_font;
$sans_font :  "Roboto" , "Helvetica", sans-serif;
$sans : $sans_font;
$condensed : "Roboto Condensed", "League Gothic";